Build started...
Build succeeded.
BEGIN TRANSACTION;
GO

ALTER TABLE [CourseAssignments] ADD [Campus] int NOT NULL DEFAULT 0;
GO

ALTER TABLE [CourseAssignments] ADD [Session] int NOT NULL DEFAULT 0;
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260827085900_AddCourseAssignmentDetails', N'8.0.20');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260827091031_AddCourseAssignmentDetails1', N'8.0.20');
GO

COMMIT;
GO


